<div class="sb-modal">
    <div class="ui large modal" style="display: block !important;    position: unset; box-shadow: 1px 3px 3px 0 rgba(0,0,0,.2), 1px 3px 15px 2px rgba(0,0,0,.2);">
        <div class="header sb-modal-header">
            Profile Picture
        </div>
        <div class="scrolling image content sb-modal-content">
            <div class="description">
                <div class="ui header">Modal Header</div>
                <p>This is large modal</p>
            </div>
        </div>
        <div class="actions sb-modal-actions">
            <div class="sb-btn sb-btn-primary sb-btn-normal">Proceed
            </div>
        </div>
    </div>
</div>